.footer {
    padding-bottom: 46px;
    hr {
        height: 1px;
        background: $text-desrc;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 31px;
    }
    &__list {
        display: flex;
        li {
            margin-left: 40px;
            position: relative;
            &::after {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $text-desrc;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -26px;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: $text-desrc;
        transition: 0.2s all;
        &:hover {
            transform: scale(1.05);
            color: $text-color;
        }

    }
}
@media (max-width: 992px) {
    .footer__link{
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .footer__list {
        li {
            margin-left: 14px;
            &::after {
                width: 5px;
                height: 5px;
                right: -10px;
            }

        }
    }
    .footer__link{
        font-size: 13px;
    }
}
@media (max-width: 484px) {
    .footer__wrapper {
        padding-top: 26px;
        flex-direction: column;
    }
    .footer__list {
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
        li {
            margin-right: 0;
            text-align: center;
            &::after {
                display: none;
            }
        }
    }
    .footer__link{
        font-size: 12px;;
    }
}


