.header {
    padding: 57px 0 103px 0;
    &__burger {
        display: none;
        width: 30px;
        height: 4px;
        background-color: $main-color;
        border-radius: 1px;
        position: relative;
        &::after, &::before {
            content: '';
            position: absolute;
            height: 4px;
            background-color: $main-color;
            left: 0;
            border-radius: 1px;
        }
        &::after {
            top: -7px;
            width: 100%;
        }
        &::before {
            bottom: -7px;
            width: 75%;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__wrapper {
        margin-top: 74px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        margin-top: 60px;
        width: 51%;
    }
    &__title {
        width: 386px;
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        color: $text-color;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 85.24px;
            height: 85.24px;
            background: url(../img/header/decor.png) center (center / cover) no-repeat;
            bottom: 55px;
            right: -100px;
        }
        span {
            display: block;
        }

    }
    &__descr {
        margin-top: 40px;
        width: 526px;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: $text-desrc;
    }
    &__button {
        margin-top: 61px;
        width: 438px;
        height: 118px;
        background: $main-color;
        border-radius: 15px;
        font-size: 36px;
        color: $text-color2;
        border: none;
        @include hover;

    }

    &__img {
        width: 49%;
        img {
            width: 100%;
        }
    }
}
.menu {
    width: 73%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
        width: 518px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        transition: 0.3s all;
        &:hover {
            transform: rotate(-5deg) scale(1.3);
        }
    }
    &__link {
        font-weight: 500;
        font-size: 20px;
        color: $main-color;
        text-decoration: none;
    }

    &__button {
        margin-left: 20px;
        width: 220px;
        height: 70px;
        border: 2px solid $main-color;
        border-radius: 5px;
        background-color: $text-color2;
        font-weight: 400;
        font-size: 24px;
        color: $text-color;
        cursor: pointer;
        transition: 0.2s all;
        &:hover {
            font-size: 28px;
        }
    }
    
}

@media (max-width:992px) {
    .header {
        padding: 30px 0 47px 0;
		&__wrapper {
            margin-top: 68px;
		}
		&__content {
            margin-top: 14px;
		}
        &__title {
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            &::after {
                right: 22px;
                bottom: 30px;
            }
        }
        &__descr {
            margin-top: 27px;
            width: 426px;
            height: 90px;
            font-size: 20px;
            line-height: 30px;
        }
        &__button {
            margin-top: 27px;
            width: 292px;
            height: 80px;
            font-size: 24px;

        }
}
    .menu {
        width: 75%;

        &__list {
            width: 415px;
        }
        &__item {
        }

        &__link {
            font-size: 16px;
        }

        &__button {
            width: 160px;
            height: 50px;
            font-size: 18px;
        }
    }

}
@media (max-width:768px) {
    .header {
        padding: 39px 0 47px 0;
        &__burger {
            display: block;
        }
		&__wrapper {
            margin-top: 40px;
		}
		&__content {
            margin-top: 14px;
		}
        &__title {
            font-size: 36px;
            line-height: 45px;
            width: 217px;
            &::after {
                right: -81px;
                bottom: -11px;
            }
        }
        &__descr {
            margin-top: 25px;
            width: 336px;
            font-size: 16px;
            line-height: 24px;
        }
        &__button {
            margin-top: 27px;
            width: 236px;
            height: 65px;
            font-size: 18px;
        }
}
    .menu {
        display: none;
        &__list {
        }
        &__item {
        }

        &__link {
            font-size: 16px;
        }

        &__button {
            width: 160px;
            height: 50px;
            font-size: 18px;
        }
        
    }

}

@media (max-width: 575px) {
    .header__wrapper {
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .header__img {
        width: 86%;
        margin: 0 auto;
    }
    .header__content {
        width: 100%;
    }
    .header__title {
        width: 100%;
        margin-top: 17px;
        font-size: 34px;
        text-align: center;
        &::after {
            display: none;
        }
        span {
            display: inline;
        }
    }
    .header__descr {
        margin-top: 26px;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .header__button {
        display: block;
        margin: 17px auto 0 auto;
        width: 305px;
        height: 75px;
    }
}
@media (max-width: 320px) {
    .header__img {
        width: 100%;
    }
    .header__title {
        font-size: 24px;
        line-height: 36px;
    }
    .header__descr {
        font-size: 14px;
        line-height: 21px;
    }
    .header__button {
        margin-top: 17px;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
    }
}