.header {
    padding: 57px 0 103px 0;
    position: relative;
    &__burger {
        display: none;
        width: 30px;
        height: 4px;
        background-color: $main-color;
        border-radius: 1px;
        position: absolute;
        right: 20px;
        top: 7px;
        &::after, &::before {
            content: '';
            position: absolute;
            height: 4px;
            background-color: $main-color;
            left: 0;
            border-radius: 1px;
        }
        &::after {
            top: -7px;
            width: 100%;
        }
        &::before {
            bottom: -7px;
            width: 75%;
        }
    }
    
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // position: relative;
    }
    &__hr {
        width: 100%;
        height: 1px;
        background-color: $text-desrc;
        display: none;
    }
    &__close {
        position: absolute;
        display: none;
        right: 31px;
        top: 31px;
        span {
            display: block;
            width: 35px;
            height: 5px;
            background-color: $main-color;
            transform: rotate(45deg);
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 35px;
                height: 5px;
                background-color: $main-color;
                transform: rotate(90deg);
                top: 0;
                right: 0;
            }

        }
    }
    &__wrapper {
        margin-top: 74px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        margin-top: 60px;
        width: 51%;
    }
    &__title {
        width: 386px;
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        color: $text-color;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 85.24px;
            height: 85.24px;
            background: url(../img/header/decor.png) center (center / cover) no-repeat;
            bottom: 55px;
            right: -100px;
        }
        span {
            display: block;
        }

    }
    &__descr {
        margin-top: 40px;
        width: 526px;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: $text-desrc;
    }
    &__button {
        margin-top: 61px;
        width: 438px;
        height: 118px;
        background: $main-color;
        border-radius: 15px;
        font-size: 36px;
        color: $text-color2;
        border: none;
        cursor: pointer;
        transition: 0.2s all;
        &:hover {
            font-size: 40px;
        }

    }

    &__img {
        width: 49%;
        position: relative;
        img {
            width: 100%;
        }
        &-decor1 {
            width: 18%;
            position: absolute;
            top: 17%;
            left: 19%;;
            animation: anim  2s infinite ease-in-out;
            animation-delay: 0.5s;
            img {
                width: 100%;
                
            }
        }
        &-decor2 {
            width: 19.76%;
            position: absolute;
            top: 20%;
            left: 64%;
            animation: anim  2s infinite ease-in-out;
            animation-delay: 1s;
            img {
                width: 100%;
                
            }
        }
        &-decor3 {
            width: 17.76%;
            position: absolute;
            top: 43%;
            left: 16%;
            animation: anim  2s infinite ease-in-out;
            animation-delay: 0.3s;
            img {
                width: 100%;
                
            }
        }
        &-decor4 {
            width: 17.76%;
            position: absolute;
            top: 39%;
            left: 68%;
            animation: anim  2s infinite ease-in-out;
            img {
                width: 100%;
                
            }
        }

    }
}
.logo__menu {
    display: none;
}
.menu {
    width: 73%;
    &__wrapper {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__list {
        width: 518px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        transition: 0.3s all;
        &:hover {
            transform: rotate(-5deg) scale(1.3);
        }
    }
    &__link {
        font-weight: 500;
        font-size: 20px;
        color: $main-color;
        text-decoration: none;
    }

    &__button {
        margin-left: 20px;
        width: 220px;
        height: 70px;
        border: 2px solid $main-color;
        border-radius: 5px;
        background-color: $text-color2;
        font-weight: 400;
        font-size: 24px;
        color: $text-color;
        cursor: pointer;
        transition: 0.2s all;
        &:hover {
            font-size: 28px;
        }
    }
    
    
}

@media (max-width:992px) {
    .header {
        padding: 30px 0 47px 0;
		&__wrapper {
            margin-top: 68px;
		}
		&__content {
            margin-top: 14px;
		}
        &__title {
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            &::after {
                right: 22px;
                bottom: 30px;
            }
        }
        &__descr {
            margin-top: 27px;
            width: 426px;
            height: 90px;
            font-size: 20px;
            line-height: 30px;
        }
        &__button {
            margin-top: 27px;
            width: 292px;
            height: 80px;
            font-size: 24px;
            &:hover {
                font-size: 30px;
            }

        }
}
    .menu {
        width: 75%;

        &__list {
            width: 415px;
        }
        &__item {
        }

        &__link {
            font-size: 16px;
        }

        &__button {
            width: 160px;
            height: 50px;
            font-size: 18px;
            &:hover {
                font-size: 22px;
            }
        }
    }

}
@media (max-width:768px) {
    .menu.active{
        left: 0;
    }
    .logo__menu {
        display: block;
    }
    .header {
        padding: 39px 0 47px 0;
        &__menu {
        }
        &__hr {
            display: block;
            margin: 35px 0 35px 0;
        }


        &__burger {
            display: block;
        }
        &__close {
            display: block;
            
        }
		&__wrapper {
            margin-top: 40px;
		}
		&__content {
            margin-top: 14px;
		}
        &__title {
            font-size: 36px;
            line-height: 45px;
            width: 217px;
            &::after {
                right: -81px;
                bottom: -11px;
            }
        }
        &__descr {
            margin-top: 25px;
            width: 322px;
            font-size: 16px;
            line-height: 24px;
        }
        &__button {
            margin-top: 27px;
            width: 236px;
            height: 65px;
            font-size: 18px;
        }
} 
    .menu {
        background: rgba(00, 00, 00, 0.4);
        z-index: 20;
        position: absolute;
        top:-40px;;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: 0.2s all;
        &__wrapper {
            flex-direction: column;
            background-color: #fff;
            position: absolute;
            height: 100vh;
            padding: 38px;
            align-items: start;
            width: 55%;

        }
 
        
        &__list {
            flex-direction: column;
            height: 60vh;
            width: 100%;
        }
        &__item {
            margin-bottom: 40px;
            height: 20px;
            &:hover {
                transform: rotate(0deg) scale(1);
            }
        }

        &__link {
            font-size: 16px;
        }

        &__button {
            width: 210px;
            min-height: 60px;
            font-size: 18px;
            margin-left: 0;
        }
        
    }
    

}

@media (max-width: 575px) {
    .header__wrapper {
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .header__img {
        width: 86%;
        margin: 0 auto;
    }
    .header__content {
        width: 100%;
    }
    .header__title {
        width: 100%;
        margin-top: 17px;
        font-size: 34px;
        text-align: center;
        &::after {
            display: none;
        }
        span {
            display: inline;
        }
    }
    .header__descr {
        margin-top: 26px;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .header__button {
        display: block;
        margin: 17px auto 0 auto;
        width: 305px;
        height: 75px;
    }
    .menu {
        &__wrapper {
            width: 100%;
        }

    }
    .menu__link {
        font-size: 24px;
        line-height: 65px;
    }
    .header__hr {
        margin: 20px 0 20px 0;
    }

}
@media (max-width: 380px) {
    .header__img {
        width: 100%;
    }
    .header__title {
        font-size: 24px;
        line-height: 36px;
    }
    .header__descr {
        font-size: 14px;
        line-height: 21px;
    }
    .menu__link {
        font-size: 24px;
        line-height: 10px
    }
    .header__button {
        margin-top: 17px;
        width: 330px;
        height: 70px;
    }
}