.information-block {
    padding: 100px 0 50px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 529px;

    }

    &__title {
        font-weight: 600;
        font-size: 48px;
        color: $text-color;

    }
    &__descr {
        margin-top: 23px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $text-desrc;
    }

    &__amount {
    }

    &__item {
    }

    &__number {
    }

    &__designation {
    }

    &__form {
    }

    &__img {
        width: 37.59%;
        img {
            width: 100%;
        }
    }
}
