.skills {
    padding: 30px 0 20px 0;
    &__title {
        font-weight: 600;
        font-size: 48px;
        color: $text-color;
        text-align: center;
    }
    &__wrapper {
        margin-top: 93px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        grid-template-rows: minmax(441px, 531px) minmax(210px, 343px);
    }
}



.skills-block {
    padding: 10px 23px 0 23px;
    background-color: #F5F5F5;
    border-radius: 10px;
    position: relative;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__image {
        width: 90%;
        margin: 0 auto;
        img {
            width: 100%;
        }
        &__1{
            max-width: 247px; 
        }
        &__2{
            max-width: 247px;
        }
        &__3{
            max-width: 247px;
        }
        &__4{
            max-width: 382px;
        }

    }
    &__title{
        margin-top: 10px;
        font-weight: 600;
        font-size: 30px;
        color: $text-color;
    }
    &__descr {
        margin-top: 10px;
        max-width: 340px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $main-color;
    }

    &__link {
        position: absolute;
        bottom: 20px;
        left: 32px;
        width: 218px;
        height: 60px;
        background: #263238;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        transition: 0.2s all;
        &:hover {
            font-size: 24px;
        }
    }
    &__1 {
        grid-column: 1 / 2; 
        grid-row: 1 / 3;
    }

    &__2 {
    }

    &__3 {
    }

    &__4 {
        padding-top: 43px;
        grid-column: 2 / 4; 
        grid-row: 2 / 3;
    }
}
@media (max-width: 992px) {
    .skills {
        &__title {
            font-weight: 600;
font-size: 36px;
        }
        &__wrapper {
            margin-top: 58px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 13px;
            grid-template-rows: minmax(400px, 441px) minmax(210px, 241px);
        }
    }
    .skills-block {
        padding: 10px 22px 0 22px;
        background-color: #F5F5F5;
        border-radius: 10px;
        position: relative;
        &__wrapper {
        }
        &__image {
            width: 90%;
            margin: 0 auto;
            img {
                width: 100%;
            }
            &__1{
                max-width: 243px; 
            }
            &__2{
                max-width: 205px;
            }
            &__3{
                max-width: 205px;
            }
            &__4{
                max-width: 254px;
            }
    
        }
        &__title{
            margin-top: 10px;
            font-weight: 600;
            font-size: 22px;
        }
        &__descr {
            margin-top: 5px;
            font-size: 14px;
            line-height: 21px;
        }
    
        &__link {
            bottom: 20px;
            left: 20px;
            width: 196px;
            height: 57px;
            font-size: 18px;
            transition: 0.2s all;
                &:hover {
                    font-size: 21px;
                }
        }
        &__1 {
            grid-column: 1 / 2; 
            grid-row: 1 / 3;
        }
    
        &__2 {
        }
    
        &__3 {
        }
    
        &__4 {
            padding-top: 20px;
            grid-column: 2 / 4; 
            grid-row: 2 / 3;
        }
    }

}
@media (max-width: 767px) {
    .skills {
        &__title {
            margin-top: 15px;
            font-size: 20px;
        }
        &__wrapper {
            margin-top: 37px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            grid-template-rows: minmax(300px, 441px) minmax(240px, 240px);
        }
    }
    .skills-block {
        padding: 10px 15px 0 15px;
        &__wrapper {
        }
        &__image {
            width: 100%;
            margin: 0 auto;
            img {
                width: 100%;
            }
            &__1{
                max-width: 247px; 
            }
            &__2{
                max-width: 247px;
            }
            &__3{
                max-width: 247px;
            }
            &__4{
                max-width: 382px;
            }
    
        }
        &__title{
            margin-top: 10px;
            font-size: 20px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 13px;
            line-height: 20px;
        }
    
        &__link {
            bottom: 20px;
            left: 15px;
            max-width: 178px;
            height: 40px;
            font-size: 16px;
            transition: 0.2s all;
                &:hover {
                    font-size: 20px;
                }
        }
        &__1 {
            grid-column: 1 / 2; 
            grid-row: 1 / 3;
        }
    
        &__2 {
        }
    
        &__3 {
        }
    
        &__4 {
            grid-column: 2 / 4; 
            grid-row: 2 / 3;
        }
    }

}
@media (max-width: 670px) {
    .skills {
        &__title {
            font-size: 30px;
        }
        &__wrapper {
            margin-top: 34px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            grid-template-rows: repeat(2, 534px);
        }
    }
    .skills-block {
        padding: 5px 15px 0 15px;
        background-color: #F5F5F5;
        border-radius: 10px;
        position: relative;
        &__wrapper {
            flex-direction: column-reverse;
        }
        &__image {
            width: 100%;
            margin: 0 auto;
            img {
                width: 100%;
            }
            &__1{
                max-width: 247px; 
            }
            &__2{
                max-width: 247px;
            }
            &__3{
                max-width: 247px;
            }
            &__4{
                max-width: 382px;
            }
    
        }
        &__title{
            margin-top: 10px;
            font-size: 18px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 12px;
            line-height: 18px;
            
        }
    
        &__link {
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 87%;
            height: 50px;
            font-size: 14px;
            transition: 0.2s all;
                &:hover {
                    font-size: 18px;
                }
        }
        &__1 {
            grid-column: 1 / 2; 
            grid-row: 1 / 2;
        }
    
        &__2 {
        }
    
        &__3 {
        }
    
        &__4 {
            padding-top: 0px;
            grid-column: 2 / 2; 
            grid-row: 2 / 2;
        }
    }

}
@media (max-width: 400px) {
    .skills {
        &__title {
            font-size: 24px;
        }
        &__wrapper {
            margin-top: 32px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 21px;
            grid-template-rows: repeat(4, 600px);
        }
    }
    .skills-block {
        padding: 10px 23px 0 23px;
        background-color: #F5F5F5;
        border-radius: 10px;
        position: relative;
        &__wrapper {
        }
        &__image {
            width: 90%;
            margin: 0 auto;
        }
        &__title{
            font-size: 18px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 13px;
            line-height: 20px;
        }
    
        &__link {
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 178px;
            height: 50px;
            font-weight: 500;
            font-size: 18px;
            transition: 0.2s all;
                &:hover {
                    font-size: 24px;
                }
        }
        &__1 {
            grid-column: 1 / 1; 
            grid-row: 1 / 2;
        }
        &__4 {
            padding-top: 0px;
            grid-column: 1 / 1; 
            grid-row: 4 / 5;
        }
    }

}

